.header {
  padding-top: 1rem;
  padding-inline: 8rem;
  height: 4rem;
  box-shadow: 0px 10px 19px -7px rgba(0, 0, 0, 0.2);
}

span {
  font-weight: 500 !important;
  margin-left: 0.6rem;
  font-size: 1.2rem;
}

@media (max-width: 408px) {
  .header {
    padding-top: 0.8rem !important;
  }
}

@media (max-width: 565px) {
  .header {
    padding-top: 1.5rem;
  }

  h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1100px) {
  .header {
    padding-inline: 2rem;
  }
}
